###

### Importing stuff

In [1]:
import requests
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

## Bank Holidays

In [2]:
url='https://www.gov.uk/bank-holidays.json'

In [3]:
res=requests.get(url).json()
res['england-and-wales']['events']

[{'title': 'New Year’s Day',
  'date': '2018-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2018-03-30', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2018-04-02',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2018-05-07',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2018-05-28',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2018-08-27',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2018-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2018-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Year’s Day',
  'date': '2019-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2019-04-19', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2019-04-22',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2019-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2019-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2019-08-26',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2019-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2019-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Year’s Day',
  'date': '2020-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2020-04-10', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2020-04-13',
  'notes': '',
  'bunting': False},
 {'title': 'Early May bank holiday (VE day)',
  'date': '2020-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2020-05-25',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2020-08-31',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2020-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2020-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Year’s Day',
  'date': '2021-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2021-04-02', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2021-04-05',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2021-05-03',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2021-05-31',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2021-08-30',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2021-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2021-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Year’s Day',
  'date': '2022-01-03',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2022-04-15', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2022-04-18',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2022-05-02',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2022-06-02',
  'notes': '',
  'bunting': True},
 {'title': 'Platinum Jubilee bank holiday',
  'date': '2022-06-03',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2022-08-29',
  'notes': '',
  'bunting': True},
 {'title': 'Bank Holiday for the State Funeral of Queen Elizabeth II',
  'date': '2022-09-19',
  'notes': '',
  'bunting': False},
 {'title': 'Boxing Day', 'date': '2022-12-26', 'notes': '', 'bunting': True},
 {'title': 'Christmas Day',
  'date': '2022-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Year’s Day',
  'date': '2023-01-02',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2023-04-07', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2023-04-10',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2023-05-01',
  'notes': '',
  'bunting': True},
 {'title': 'Bank holiday for the coronation of King Charles III',
  'date': '2023-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2023-05-29',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2023-08-28',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2023-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2023-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Year’s Day',
  'date': '2024-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2024-03-29', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2024-04-01',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2024-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2024-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2024-08-26',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2024-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2024-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Year’s Day',
  'date': '2025-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2025-04-18', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2025-04-21',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2025-05-05',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2025-05-26',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2025-08-25',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2025-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2025-12-26', 'notes': '', 'bunting': True}]

In [4]:
bank_holidays_1=pd.DataFrame(res['england-and-wales']['events'])
bank_holidays_1['date']=pd.to_datetime(bank_holidays_1['date'])

In [5]:
bank_holidays_1_filtered=bank_holidays_1[bank_holidays_1['date'].dt.to_period('Y')<='2023']

In [6]:
bank_holidays_1_filtered=bank_holidays_1_filtered.drop(columns=['notes','bunting'])
bank_holidays_1_filtered.head()

                    title       date
0          New Year’s Day 2018-01-01
1             Good Friday 2018-03-30
2           Easter Monday 2018-04-02
3  Early May bank holiday 2018-05-07
4     Spring bank holiday 2018-05-28

In [7]:
bank_holidays_1_filtered['title'].unique()

array(['New Year’s Day', 'Good Friday', 'Easter Monday',
       'Early May bank holiday', 'Spring bank holiday',
       'Summer bank holiday', 'Christmas Day', 'Boxing Day',
       'Early May bank holiday (VE day)', 'Platinum Jubilee bank holiday',
       'Bank Holiday for the State Funeral of Queen Elizabeth II',
       'Bank holiday for the coronation of King Charles III'],
      dtype=object)

In [8]:
url_2='../../../raw_data/UK_Bank_Holidays_2.csv'
bank_holidays_2=pd.read_csv(url_2)

In [9]:
bank_holidays_2=bank_holidays_2[bank_holidays_2['Bank Holiday']==1]
bank_holidays_2['Date']=pd.to_datetime(bank_holidays_2['Date'])
bank_holidays_2_filtered=bank_holidays_2[bank_holidays_2['Date'].dt.to_period('Y')>='2014']
bank_holidays_2_filtered=bank_holidays_2_filtered[bank_holidays_2_filtered['Date'].dt.to_period('Y')<='2018']

In [10]:
bank_holidays_2_filtered=bank_holidays_2_filtered.drop(columns='Bank Holiday')

In [11]:
bank_holidays_2_filtered=bank_holidays_2_filtered.rename(columns={"Name": "title", "Date": "date"})
bank_holidays_2_filtered['title'].unique()

array(["New Year's Day", 'Good Friday', 'Easter Monday',
       'May Day (Early May Bank Holiday)', 'Spring Bank Holiday',
       'Summer Bank Holiday', 'Christmas', 'Boxing Day'], dtype=object)

In [12]:
bank_holidays_2_filtered=bank_holidays_2_filtered.replace(['May Day (Early May Bank Holiday)'], ['Early May bank holiday'])
bank_holidays_2_filtered=bank_holidays_2_filtered.replace(['Spring Bank Holiday'], ['Spring bank holiday'])
bank_holidays_2_filtered=bank_holidays_2_filtered.replace(['Summer Bank Holiday'], ['Summer bank holiday'])
bank_holidays_2_filtered=bank_holidays_2_filtered.replace(['Christmas'], ['Christmas Day'])
bank_holidays_2_filtered=bank_holidays_2_filtered.replace(["New Year's Day"], ['New Year’s Day'])

In [13]:
bank_holidays_2_filtered['title'].unique()

array(['New Year’s Day', 'Good Friday', 'Easter Monday',
       'Early May bank holiday', 'Spring bank holiday',
       'Summer bank holiday', 'Christmas Day', 'Boxing Day'], dtype=object)

In [14]:
bank_holidays_2_filtered.head()

                      title       date
161          New Year’s Day 2014-01-01
173             Good Friday 2014-04-18
175           Easter Monday 2014-04-21
178  Early May bank holiday 2014-05-05
179     Spring bank holiday 2014-05-26

In [15]:
bank_holidays_1_filtered.head()

                    title       date
0          New Year’s Day 2018-01-01
1             Good Friday 2018-03-30
2           Easter Monday 2018-04-02
3  Early May bank holiday 2018-05-07
4     Spring bank holiday 2018-05-28

In [16]:
bank_holidays_1_filtered.loc[42, 'date'] = "2023-01-01"

In [17]:
bank_holidays_1_filtered

                                                title       date
0                                      New Year’s Day 2018-01-01
1                                         Good Friday 2018-03-30
2                                       Easter Monday 2018-04-02
3                              Early May bank holiday 2018-05-07
4                                 Spring bank holiday 2018-05-28
5                                 Summer bank holiday 2018-08-27
6                                       Christmas Day 2018-12-25
7                                          Boxing Day 2018-12-26
8                                      New Year’s Day 2019-01-01
9                                         Good Friday 2019-04-19
10                                      Easter Monday 2019-04-22
11                             Early May bank holiday 2019-05-06
12                                Spring bank holiday 2019-05-27
13                                Summer bank holiday 2019-08-26
14                                      Christmas Day 2019-12-25
15                                         Boxing Day 2019-12-26
16                                     New Year’s Day 2020-01-01
17                                        Good Friday 2020-04-10
18                                      Easter Monday 2020-04-13
19                    Early May bank holiday (VE day) 2020-05-08
20                                Spring bank holiday 2020-05-25
21                                Summer bank holiday 2020-08-31
22                                      Christmas Day 2020-12-25
23                                         Boxing Day 2020-12-28
24                                     New Year’s Day 2021-01-01
25                                        Good Friday 2021-04-02
26                                      Easter Monday 2021-04-05
27                             Early May bank holiday 2021-05-03
28                                Spring bank holiday 2021-05-31
29                                Summer bank holiday 2021-08-30
30                                      Christmas Day 2021-12-27
31                                         Boxing Day 2021-12-28
32                                     New Year’s Day 2022-01-03
33                                        Good Friday 2022-04-15
34                                      Easter Monday 2022-04-18
35                             Early May bank holiday 2022-05-02
36                                Spring bank holiday 2022-06-02
37                      Platinum Jubilee bank holiday 2022-06-03
38                                Summer bank holiday 2022-08-29
39  Bank Holiday for the State Funeral of Queen El... 2022-09-19
40                                         Boxing Day 2022-12-26
41                                      Christmas Day 2022-12-27
42                                     New Year’s Day 2023-01-01
43                                        Good Friday 2023-04-07
44                                      Easter Monday 2023-04-10
45                             Early May bank holiday 2023-05-01
46  Bank holiday for the coronation of King Charle... 2023-05-08
47                                Spring bank holiday 2023-05-29
48                                Summer bank holiday 2023-08-28
49                                      Christmas Day 2023-12-25
50                                         Boxing Day 2023-12-26

In [18]:
bank_holidays_fv=pd.concat([bank_holidays_2_filtered,bank_holidays_1_filtered],axis=0)
bank_holidays_fv

                                                 title       date
161                                     New Year’s Day 2014-01-01
173                                        Good Friday 2014-04-18
175                                      Easter Monday 2014-04-21
178                             Early May bank holiday 2014-05-05
179                                Spring bank holiday 2014-05-26
..                                                 ...        ...
46   Bank holiday for the coronation of King Charle... 2023-05-08
47                                 Spring bank holiday 2023-05-29
48                                 Summer bank holiday 2023-08-28
49                                       Christmas Day 2023-12-25
50                                          Boxing Day 2023-12-26

[91 rows x 2 columns]

In [19]:
bank_holidays_fv=bank_holidays_fv.sort_values(by=['date'])
bank_holidays_fv

                                                 title       date
161                                     New Year’s Day 2014-01-01
173                                        Good Friday 2014-04-18
175                                      Easter Monday 2014-04-21
178                             Early May bank holiday 2014-05-05
179                                Spring bank holiday 2014-05-26
..                                                 ...        ...
46   Bank holiday for the coronation of King Charle... 2023-05-08
47                                 Spring bank holiday 2023-05-29
48                                 Summer bank holiday 2023-08-28
49                                       Christmas Day 2023-12-25
50                                          Boxing Day 2023-12-26

[91 rows x 2 columns]

In [20]:
bank_holidays_fv=bank_holidays_fv.rename(columns={"date": "start_date"})
bank_holidays_fv['end_date']=bank_holidays_fv['start_date']

In [21]:
bank_holidays_fv['Location']='London-wide'
bank_holidays_fv['Latitude']='London-wide'
bank_holidays_fv['Longitude']='London-wide'

In [22]:
bank_holidays_fv=bank_holidays_fv.reset_index(drop=True)
bank_holidays_fv

,title,start_date,end_date,Location,Latitude,Longitude
0,New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide
1,Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide
2,Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide
3,Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide
4,Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide
...,...,...,...,...,...,...
86,Bank holiday for the coronation of King Charle...,2023-05-08,2023-05-08,London-wide,London-wide,London-wide
87,Spring bank holiday,2023-05-29,2023-05-29,London-wide,London-wide,London-wide
88,Summer bank holiday,2023-08-28,2023-08-28,London-wide,London-wide,London-wide
89,Christmas Day,2023-12-25,2023-12-25,London-wide,London-wide,London-wide
90,Boxing Day,2023-12-26,2023-12-26,London-wide,London-wide,London-wide

In [23]:
pwd

'/home/catherine/code/elsebasmar/london-bss/londonbss/notebooks/data_collection'

In [24]:
bank_holidays_fv.to_csv('../../../raw_data/bank_holiday_fv.csv')

## Calendar Events

In [25]:
pwd

'/home/catherine/code/elsebasmar/london-bss/londonbss/notebooks/data_collection'

In [26]:
url_3='../../../raw_data/London_Events_v4.csv'
london_events=pd.read_csv(url_3)

In [27]:
london_events=london_events.dropna()
london_events_filtered=london_events[london_events['start_date']!='Cancelled']

In [28]:
london_events_filtered['start_date'].unique()

array(['20/05/2014', '21/05/2014', '22/05/2014', '23/05/2014',
       '24/05/2014', '19/05/2015', '20/05/2015', '21/05/2015',
       '22/05/2015', '23/05/2015', '24/05/2016', '25/05/2016',
       '26/05/2016', '27/05/2016', '28/05/2016', '23/05/2017',
       '24/05/2017', '25/05/2017', '26/05/2017', '27/05/2017',
       '22/05/2018', '23/05/2018', '24/05/2018', '25/05/2018',
       '26/05/2018', '21/05/2019', '22/05/2019', '23/05/2019',
       '24/05/2019', '25/05/2019', '21/09/2021', '22/09/2021',
       '23/09/2021', '24/09/2021', '25/09/2021', '26/09/2021',
       '24/05/2022', '25/05/2022', '26/05/2022', '27/05/2022',
       '28/05/2022', '23/05/2023', '24/05/2023', '25/05/2023',
       '26/05/2023', '27/05/2023', '12/10/2014', '11/10/2015',
       '16/10/2016', '15/10/2017', '28/10/2018', '03/11/2019',
       '23/10/2021', '09/10/2022', '29/10/2023', '15/10/2014',
       '16/10/2014', '17/10/2014', '18/10/2014', '14/10/2015',
       '15/10/2015', '16/10/2015', '17/10/2015', '04/05/2016',
       '05/05/2016', '06/05/2016', '07/05/2016', '08/05/2016',
       '05/10/2017', '06/10/2017', '07/10/2017', '08/10/2017',
       '05/10/2018', '06/10/2018', '07/10/2018', '08/10/2018',
       '03/10/2019', '04/10/2019', '05/10/2019', '06/10/2019',
       '13/10/2021', '14/10/2021', '15/10/2021', '16/10/2021',
       '17/10/2021', '12/10/2022', '13/10/2022', '14/10/2022',
       '15/10/2022', '16/10/2022', '11/10/2023', '12/10/2023',
       '13/10/2023', '14/10/2023', '15/10/2023', '08/10/2014',
       '09/10/2014', '10/10/2014', '11/10/2014', '13/10/2014',
       '14/10/2014', '19/10/2014', '07/10/2015', '08/10/2015',
       '09/10/2015', '10/10/2015', '12/10/2015', '13/10/2015',
       '18/10/2015', '05/10/2016', '06/10/2016', '07/10/2016',
       '08/10/2016', '09/10/2016', '10/10/2016', '11/10/2016',
       '12/10/2016', '13/10/2016', '14/10/2016', '15/10/2016',
       '04/10/2017', '09/10/2017', '10/10/2017', '11/10/2017',
       '12/10/2017', '13/10/2017', '14/10/2017', '10/10/2018',
       '11/10/2018', '12/10/2018', '13/10/2018', '14/10/2018',
       '15/10/2018', '16/10/2018', '17/10/2018', '18/10/2018',
       '19/10/2018', '20/10/2018', '21/10/2018', '02/10/2019',
       '07/10/2019', '08/10/2019', '09/10/2019', '10/10/2019',
       '11/10/2019', '12/10/2019', '13/10/2019', '06/10/2021',
       '07/10/2021', '08/10/2021', '09/10/2021', '10/10/2021',
       '11/10/2021', '12/10/2021', '05/10/2022', '06/10/2022',
       '07/10/2022', '08/10/2022', '10/10/2022', '11/10/2022',
       '04/10/2023', '05/10/2023', '06/10/2023', '07/10/2023',
       '08/10/2023', '09/10/2023', '10/10/2023', '21/11/2014',
       '22/11/2014', '23/11/2014', '24/11/2014', '25/11/2014',
       '26/11/2014', '27/11/2014', '28/11/2014', '29/11/2014',
       '30/11/2014', '01/12/2014', '02/12/2014', '03/12/2014',
       '04/12/2014', '05/12/2014', '06/12/2014', '07/12/2014',
       '08/12/2014', '09/12/2014', '10/12/2014', '11/12/2014',
       '12/12/2014', '13/12/2014', '14/12/2014', '15/12/2014',
       '16/12/2014', '17/12/2014', '18/12/2014', '19/12/2014',
       '20/12/2014', '21/12/2014', '22/12/2014', '23/12/2014',
       '24/12/2014', '25/12/2014', '26/12/2014', '27/12/2014',
       '28/12/2014', '29/12/2014', '30/12/2014', '31/12/2014',
       '01/01/2015', '02/01/2015', '03/01/2015', '04/01/2015',
       '20/11/2015', '21/11/2015', '22/11/2015', '23/11/2015',
       '24/11/2015', '25/11/2015', '26/11/2015', '27/11/2015',
       '28/11/2015', '29/11/2015', '30/11/2015', '01/12/2015',
       '02/12/2015', '03/12/2015', '04/12/2015', '05/12/2015',
       '06/12/2015', '07/12/2015', '08/12/2015', '09/12/2015',
       '10/12/2015', '11/12/2015', '12/12/2015', '13/12/2015',
       '14/12/2015', '15/12/2015', '16/12/2015', '17/12/2015',
       '18/12/2015', '19/12/2015', '20/12/2015', '21/12/2015',
       '22/12/2015', '23/12/2015', '24/12/2015', '25/12/2015',
       '26/12/2015', '27/12/2015', '28/12/2015', '29/12/2015',
       '30/12/2015', '31/12/2015', '01/01/2016', '02/01/2016',
       '03/01/2016', '18/11/2016', '19/11/2016', '20/11/2016',
       '21/11/2016', '22/11/2016', '23/11/2016', '24/11/2016',
       '25/11/2016', '26/11/2016', '27/11/2016', '28/11/2016',
       '29/11/2016', '30/11/2016', '01/12/2016', '02/12/2016',
       '03/12/2016', '04/12/2016', '05/12/2016', '06/12/2016',
       '07/12/2016', '08/12/2016', '09/12/2016', '10/12/2016',
       '11/12/2016', '12/12/2016', '13/12/2016', '14/12/2016',
       '15/12/2016', '16/12/2016', '17/12/2016', '18/12/2016',
       '19/12/2016', '20/12/2016', '21/12/2016', '22/12/2016',
       '23/12/2016', '24/12/2016', '25/12/2016', '26/12/2016',
       '27/12/2016', '28/12/2016', '29/12/2016', '30/12/2016',
       '31/12/2016', '01/01/2017', '02/01/2017', '17/11/2017',
       '18/11/2017', '19/11/2017', '20/11/2017', '21/11/2017',
       '22/11/2017', '23/11/2017', '24/11/2017', '25/11/2017',
       '26/11/2017', '27/11/2017', '28/11/2017', '29/11/2017',
       '30/11/2017', '01/12/2017', '02/12/2017', '03/12/2017',
       '04/12/2017', '05/12/2017', '06/12/2017', '07/12/2017',
       '08/12/2017', '09/12/2017', '10/12/2017', '11/12/2017',
       '12/12/2017', '13/12/2017', '14/12/2017', '15/12/2017',
       '16/12/2017', '17/12/2017', '18/12/2017', '19/12/2017',
       '20/12/2017', '21/12/2017', '22/12/2017', '23/12/2017',
       '24/12/2017', '25/12/2017', '26/12/2017', '27/12/2017',
       '28/12/2017', '29/12/2017', '30/12/2017', '31/12/2017',
       '01/01/2018', '22/11/2018', '23/11/2018', '24/11/2018',
       '25/11/2018', '26/11/2018', '27/11/2018', '28/11/2018',
       '29/11/2018', '30/11/2018', '01/12/2018', '02/12/2018',
       '03/12/2018', '04/12/2018', '05/12/2018', '06/12/2018',
       '07/12/2018', '08/12/2018', '09/12/2018', '10/12/2018',
       '11/12/2018', '12/12/2018', '13/12/2018', '14/12/2018',
       '15/12/2018', '16/12/2018', '17/12/2018', '18/12/2018',
       '19/12/2018', '20/12/2018', '21/12/2018', '22/12/2018',
       '23/12/2018', '24/12/2018', '25/12/2018', '26/12/2018',
       '27/12/2018', '28/12/2018', '29/12/2018', '30/12/2018',
       '31/12/2018', '01/01/2019', '02/01/2019', '03/01/2019',
       '04/01/2019', '05/01/2019', '06/01/2019', '21/11/2019',
       '22/11/2019', '23/11/2019', '24/11/2019', '25/11/2019',
       '26/11/2019', '27/11/2019', '28/11/2019', '29/11/2019',
       '30/11/2019', '01/12/2019', '02/12/2019', '03/12/2019',
       '04/12/2019', '05/12/2019', '06/12/2019', '07/12/2019',
       '08/12/2019', '09/12/2019', '10/12/2019', '11/12/2019',
       '12/12/2019', '13/12/2019', '14/12/2019', '15/12/2019',
       '16/12/2019', '17/12/2019', '18/12/2019', '19/12/2019',
       '20/12/2019', '21/12/2019', '22/12/2019', '23/12/2019',
       '24/12/2019', '25/12/2019', '26/12/2019', '27/12/2019',
       '28/12/2019', '29/12/2019', '30/12/2019', '31/12/2019',
       '01/01/2020', '02/01/2020', '03/01/2020', '04/01/2020',
       '05/01/2020', '18/11/2022', '19/11/2022', '20/11/2022',
       '21/11/2022', '22/11/2022', '23/11/2022', '24/11/2022',
       '25/11/2022', '26/11/2022', '27/11/2022', '28/11/2022',
       '29/11/2022', '30/11/2022', '01/12/2022', '02/12/2022',
       '03/12/2022', '04/12/2022', '05/12/2022', '06/12/2022',
       '07/12/2022', '08/12/2022', '09/12/2022', '10/12/2022',
       '11/12/2022', '12/12/2022', '13/12/2022', '14/12/2022',
       '15/12/2022', '16/12/2022', '17/12/2022', '18/12/2022',
       '19/12/2022', '20/12/2022', '21/12/2022', '22/12/2022',
       '23/12/2022', '24/12/2022', '25/12/2022', '26/12/2022',
       '27/12/2022', '28/12/2022', '29/12/2022', '30/12/2022',
       '31/12/2022', '01/01/2023', '02/01/2023', '17/11/2023',
       '18/11/2023', '19/11/2023', '20/11/2023', '21/11/2023',
       '22/11/2023', '23/11/2023', '24/11/2023', '25/11/2023',
       '26/11/2023', '27/11/2023', '28/11/2023', '29/11/2023',
       '30/11/2023', '01/12/2023', '02/12/2023', '03/12/2023',
       '04/12/2023', '05/12/2023', '06/12/2023', '07/12/2023',
       '08/12/2023', '09/12/2023', '10/12/2023', '11/12/2023',
       '12/12/2023', '13/12/2023', '14/12/2023', '15/12/2023',
       '16/12/2023', '17/12/2023', '18/12/2023', '19/12/2023',
       '20/12/2023', '21/12/2023', '22/12/2023', '23/12/2023',
       '24/12/2023', '25/12/2023', '26/12/2023', '27/12/2023',
       '28/12/2023', '29/12/2023', '30/12/2023', '31/12/2023',
       '01/01/2024', '24/08/2014', '25/08/2014', '30/08/2015',
       '31/08/2015', '28/08/2016', '29/08/2016', '27/08/2017',
       '28/08/2017', '26/08/2018', '27/08/2018', '25/08/2019',
       '26/08/2019', '28/08/2022', '29/08/2022', '27/08/2023',
       '28/08/2023', '23/06/2014', '24/06/2014', '25/06/2014',
       '26/06/2014', '27/06/2014', '28/06/2014', '29/06/2014',
       '30/06/2014', '01/07/2014', '02/07/2014', '03/07/2014',
       '04/07/2014', '05/07/2014', '06/07/2014', '29/06/2015',
       '30/06/2015', '01/07/2015', '02/07/2015', '03/07/2015',
       '04/07/2015', '05/07/2015', '06/07/2015', '07/07/2015',
       '08/07/2015', '09/07/2015', '10/07/2015', '11/07/2015',
       '12/07/2015', '27/06/2016', '28/06/2016', '29/06/2016',
       '30/06/2016', '01/07/2016', '02/07/2016', '03/07/2016',
       '04/07/2016', '05/07/2016', '06/07/2016', '07/07/2016',
       '08/07/2016', '09/07/2016', '10/07/2016', '03/07/2017',
       '04/07/2017', '05/07/2017', '06/07/2017', '07/07/2017',
       '08/07/2017', '09/07/2017', '10/07/2017', '11/07/2017',
       '12/07/2017', '13/07/2017', '14/07/2017', '15/07/2017',
       '16/07/2017', '02/07/2018', '03/07/2018', '04/07/2018',
       '05/07/2018', '06/07/2018', '07/07/2018', '08/07/2018',
       '09/07/2018', '10/07/2018', '11/07/2018', '12/07/2018',
       '13/07/2018', '14/07/2018', '15/07/2018', '01/07/2019',
       '02/07/2019', '03/07/2019', '04/07/2019', '05/07/2019',
       '06/07/2019', '07/07/2019', '08/07/2019', '09/07/2019',
       '10/07/2019', '11/07/2019', '12/07/2019', '13/07/2019',
       '14/07/2019', '28/06/2021', '29/06/2021', '30/06/2021',
       '01/07/2021', '02/07/2021', '03/07/2021', '04/07/2021',
       '05/07/2021', '06/07/2021', '07/07/2021', '08/07/2021',
       '09/07/2021', '10/07/2021', '11/07/2021', '27/06/2022',
       '28/06/2022', '29/06/2022', '30/06/2022', '01/07/2022',
       '02/07/2022', '03/07/2022', '04/07/2022', '05/07/2022',
       '06/07/2022', '07/07/2022', '08/07/2022', '09/07/2022',
       '10/07/2022', '03/07/2023', '04/07/2023', '05/07/2023',
       '06/07/2023', '07/07/2023', '08/07/2023', '09/07/2023',
       '10/07/2023', '11/07/2023', '12/07/2023', '13/07/2023',
       '14/07/2023', '15/07/2023', '16/07/2023', '13/04/2014',
       '26/04/2015', '24/04/2016', '23/04/2017', '22/04/2018',
       '28/04/2019', '04/10/2020', '03/10/2021', '02/10/2022',
       '23/04/2023', '31/12/2020', '31/12/2021', '05/11/2014',
       '05/11/2015', '05/11/2016', '05/11/2017', '05/11/2018',
       '05/11/2019', '05/11/2020', '05/11/2021', '05/11/2022',
       '05/11/2023', '31/10/2014', '31/10/2015', '31/10/2016',
       '31/10/2017', '31/10/2018', '31/10/2019', '31/10/2020',
       '31/10/2021', '31/10/2022', '31/10/2023', '27/06/2015',
       '25/06/2016', '11/09/2021', '01/07/2023', '18/06/2014',
       '19/06/2014', '20/06/2014', '21/06/2014', '22/06/2014',
       '17/06/2015', '18/06/2015', '19/06/2015', '20/06/2015',
       '21/06/2015', '15/06/2016', '16/06/2016', '17/06/2016',
       '18/06/2016', '19/06/2016', '14/06/2017', '15/06/2017',
       '16/06/2017', '17/06/2017', '18/06/2017', '13/06/2018',
       '14/06/2018', '15/06/2018', '16/06/2018', '17/06/2018',
       '19/06/2019', '20/06/2019', '21/06/2019', '22/06/2019',
       '23/06/2019', '14/07/2021', '15/07/2021', '16/07/2021',
       '17/07/2021', '18/07/2021', '15/07/2022', '16/07/2022',
       '17/07/2022', '18/07/2022', '19/07/2022', '14/06/2023',
       '15/06/2023', '16/06/2023', '17/06/2023', '18/06/2023',
       '14/06/2014', '13/06/2015', '11/06/2016', '09/06/2018',
       '08/06/2019', '12/06/2021', '02/06/2022', '11/05/2014',
       '24/05/2015', '15/05/2016', '21/05/2017', '13/05/2018',
       '12/05/2019', '26/07/2020', '23/05/2021', '22/05/2022',
       '28/05/2023', '06/06/2015', '03/06/2017', '01/06/2019',
       '23/08/2020', '29/05/2021', '10/06/2023', '31/07/2022',
       '07/05/2015', '08/06/2017', '23/06/2016', '17/05/2014',
       '30/05/2014', '21/05/2016', '19/05/2018', '18/05/2019',
       '15/05/2021', '14/05/2021', '03/06/2023'], dtype=object)

In [29]:
london_events_filtered['start_date']=pd.to_datetime(london_events_filtered['start_date'])
london_events_filtered['end_date']=pd.to_datetime(london_events_filtered['end_date'])

/tmp/ipykernel_24187/1798917455.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  london_events_filtered['start_date']=pd.to_datetime(london_events_filtered['start_date'])
/tmp/ipykernel_24187/1798917455.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  london_events_filtered['end_date']=pd.to_datetime(london_events_filtered['end_date'])

In [30]:
london_events_filtered.head()

,title,start_date,end_date,Location,Latitude,Longitude
0,Chelsea Flower Show,2014-05-20,2014-05-20,Chelsea,51.48692516,-0.169618232
1,Chelsea Flower Show,2014-05-21,2014-05-21,Chelsea,51.48692516,-0.169618232
2,Chelsea Flower Show,2014-05-22,2014-05-22,Chelsea,51.48692516,-0.169618232
3,Chelsea Flower Show,2014-05-23,2014-05-23,Chelsea,51.48692516,-0.169618232
4,Chelsea Flower Show,2014-05-24,2014-05-24,Chelsea,51.48692516,-0.169618232

## All events Concatenated

In [31]:
bank_holidays_fv.dtypes

title                 object
start_date    datetime64[ns]
end_date      datetime64[ns]
Location              object
Latitude              object
Longitude             object
dtype: object

In [32]:
london_events_filtered.dtypes

title                 object
start_date    datetime64[ns]
end_date      datetime64[ns]
Location              object
Latitude              object
Longitude             object
dtype: object

In [33]:
all_events_df=pd.concat([bank_holidays_fv,london_events_filtered],axis=0)

In [34]:
all_events_df

,title,start_date,end_date,Location,Latitude,Longitude
0,New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide
1,Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide
2,Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide
3,Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide
4,Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide
...,...,...,...,...,...,...
864,FA cup final,2018-05-19,2018-05-19,Wembley Stadium,51.55616476,-0.279596246
865,FA cup final,2019-05-18,2019-05-18,Wembley Stadium,51.55616476,-0.279596246
867,FA cup final,2021-05-15,2021-05-15,Wembley Stadium,51.55616476,-0.279596246
868,FA cup final,2021-05-14,2021-05-14,Wembley Stadium,51.55616476,-0.279596246
869,FA cup final,2023-06-03,2023-06-03,Wembley Stadium,51.55616476,-0.279596246

In [35]:
all_events_df["Latitude"].value_counts()

Latitude
51.507388      366
London-wide    167
51.43542262    126
51.50635379    108
51.53142398     90
51.48692516     46
51.5132348      16
51.55616476     11
51.5080867       9
51.50491533      9
Name: count, dtype: int64

In [36]:
all_events_df=all_events_df.reset_index(drop=True)
all_events_df

,title,start_date,end_date,Location,Latitude,Longitude
0,New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide
1,Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide
2,Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide
3,Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide
4,Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide
...,...,...,...,...,...,...
943,FA cup final,2018-05-19,2018-05-19,Wembley Stadium,51.55616476,-0.279596246
944,FA cup final,2019-05-18,2019-05-18,Wembley Stadium,51.55616476,-0.279596246
945,FA cup final,2021-05-15,2021-05-15,Wembley Stadium,51.55616476,-0.279596246
946,FA cup final,2021-05-14,2021-05-14,Wembley Stadium,51.55616476,-0.279596246
947,FA cup final,2023-06-03,2023-06-03,Wembley Stadium,51.55616476,-0.279596246

In [37]:
# all_events_df['start_date']=all_events_df['start_date'].dt.date
# all_events_df['end_date']=all_events_df['end_date'].dt.date

all_events_df.dtypes

title                 object
start_date    datetime64[ns]
end_date      datetime64[ns]
Location              object
Latitude              object
Longitude             object
dtype: object

## 3. Encode location zone

In [38]:
all_events_df.set_index("title", inplace=True)

In [39]:
all_events_df["Latitude"].value_counts()

Latitude
51.507388      366
London-wide    167
51.43542262    126
51.50635379    108
51.53142398     90
51.48692516     46
51.5132348      16
51.55616476     11
51.5080867       9
51.50491533      9
Name: count, dtype: int64

In [40]:
def make_floats(x):
    print(x)
    if x == "London-wide":
        x = "London-wide"
    elif type(x) == str:
        x = float(x)
    else:
        x = 0
    return x

In [41]:
all_events_df['Latitude'] = all_events_df['Latitude'].apply(make_floats)
all_events_df['Longitude'] = all_events_df['Longitude'].apply(make_floats)

London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.48692516
51.5080867
51.5080867
51.5080867
51.5080867
51.5080867
51.5080867
51.5080867
51.5080867
51.5080867
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.50635379
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.507388
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.5132348
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
51.43542262
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.53142398
51.50491533
51.50491533
51.50491533
51.50491533
51.50491533
51.50491533
51.50491533
51.50491533
51.50491533
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
51.55616476
London-wide
London-wide
51.55616476
London-wide
London-wide
London-wide
London-wide
51.55616476
51.55616476
51.55616476
51.55616476
51.55616476
51.55616476
51.55616476
51.55616476
51.55616476
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
London-wide
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.169618232
-0.128038186
-0.128038186
-0.128038186
-0.128038186
-0.128038186
-0.128038186
-0.128038186
-0.128038186
-0.128038186
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.157023047
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.117015038
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.165570599
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.2490884
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789
-0.214117789

In [42]:
all_events_df['Latitude'].value_counts()

Latitude
51.507388      366
London-wide    167
51.43542262    126
51.50635379    108
51.53142398     90
51.48692516     46
51.5132348      16
51.55616476     11
51.5080867       9
51.50491533      9
Name: count, dtype: int64

In [43]:
#London_zones
# South East limits
se_limit_lat = 51.523811 # everthing lower than this value is south east
se_limit_lon = -0.101342 # everything greater than this value is south east

# East limits
e_limit_lat = 51.523811 # everything greater than this value is east
e_limit_lon = -0.022306 # everything greater than this is east

# South West limits
sw_limit_lat = 51.501631 # everthing lower than this value is south east
sw_limit_lon = -0.101342 # everything lower than this value is south east

# West limits
w_limit_lat = 51.501072  # everthing greater than this value is south east
w_limit_lon = -0.182406  # everthing lower than this value is south east

# Central limits
c_toplimit_lat = 51.501072 # everthing greater than this value is central
c_lowlimit_lat = 51.523811 # everything lower than this value is central

c_toplimit_lon = -0.101342 # everything lower than this value is central
c_lowlimit_lon = -0.182406 # everthing greater than this value is central

# North limits
n_toplimit_lon = -0.022306 # everything lower than this value is central
n_lowlimit_lon = -0.182406 # everthing greater than this value is central

n_lowlimit_lat = 51.523811 # everthing greater than this value is central

In [44]:
london_loc = []
for i in range(len(all_events_df.index)):
    if all_events_df['Latitude'][i] == "London-wide":
        london_loc.append('London_all') # London wide
    elif all_events_df['Latitude'][i] > c_toplimit_lat and all_events_df['Latitude'][i]< c_lowlimit_lat and all_events_df['Longitude'][i]< c_toplimit_lon and all_events_df['Longitude'][i]>c_lowlimit_lon:
            london_loc.append('Central') # Central
    elif all_events_df['Longitude'][i] < n_toplimit_lon and all_events_df['Longitude'][i] > n_lowlimit_lon and all_events_df['Latitude'][i] > n_lowlimit_lat:
        london_loc.append('North') # North
    elif all_events_df['Longitude'][i] < w_limit_lon and all_events_df['Latitude'][i] > w_limit_lat:
        london_loc.append('West') # West
    elif all_events_df['Longitude'][i] < sw_limit_lon and all_events_df['Latitude'][i] < sw_limit_lat:
        london_loc.append('South_West')  # South_West
    elif all_events_df['Longitude'][i] > e_limit_lon and all_events_df['Latitude'][i] > e_limit_lat:
        london_loc.append('East') # East
    elif all_events_df['Longitude'][i] > se_limit_lon and all_events_df['Latitude'][i] < se_limit_lat:
        london_loc.append('South_East') # South East
    else:
        london_loc.append('Other')

In [45]:
print(set(london_loc))

{'North', 'West', 'South_West', 'Central', 'London_all'}

In [46]:
all_events_df["London_zone"] =london_loc

In [47]:
all_events_df.head()

,start_date,end_date,Location,Latitude,Longitude,London_zone
title,,,,,,
New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide,London_all
Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide,London_all
Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide,London_all
Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide,London_all
Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide,London_all

In [48]:
all_events_df["London_zone"].shape

(948,)

In [49]:
from sklearn.preprocessing import OneHotEncoder

print(f"The unique values for 'Zone' are {all_events_df.London_zone.unique()}")

# Instantiate the OneHotEncoder
ohe = OneHotEncoder(sparse = False) 

# Fit encoder
ohe.fit(all_events_df[['London_zone']]) 

# Display the detected categories
print(f"The categories detected by the OneHotEncoder are {ohe.categories_}")

The unique values for 'Zone' are ['London_all' 'South_West' 'Central' 'North' 'West']
The categories detected by the OneHotEncoder are [array(['Central', 'London_all', 'North', 'South_West', 'West'],
      dtype=object)]

/home/catherine/.pyenv/versions/3.10.6/envs/london-bss/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [50]:
# Display the generated names
print(f"The column names for the encoded values are {ohe.get_feature_names_out()}")

# Transform the current "Street" column
all_events_df[ohe.get_feature_names_out()] = ohe.transform(all_events_df[['London_zone']])

# Drop the column "Street" which has been encoded
all_events_df.drop(columns = ["London_zone"], inplace = True)

# Show the dataset
all_events_df.head(3)

The column names for the encoded values are ['London_zone_Central' 'London_zone_London_all' 'London_zone_North'
 'London_zone_South_West' 'London_zone_West']

,start_date,end_date,Location,Latitude,Longitude,London_zone_Central,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West
title,,,,,,,,,,
New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0
Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0
Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0

In [51]:
all_events_df["London_zone_London_all"].sum(), all_events_df["London_zone_Central"].sum()

(167.0, 492.0)

In [52]:
all_events_df["London_zone_North"].sum()

90.0

In [53]:
all_events_df["London_zone_South_West"].sum()

172.0

In [54]:
all_events_df["London_zone_East"] = 0
all_events_df["London_zone_South_East"] = 0

In [55]:
all_events_df.shape

(948, 12)

In [56]:
all_events_df.head()

,start_date,end_date,Location,Latitude,Longitude,London_zone_Central,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West,London_zone_East,London_zone_South_East
title,,,,,,,,,,,,
New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0,0,0
Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0,0,0
Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0,0,0
Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0,0,0
Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide,0.0,1.0,0.0,0.0,0.0,0,0

In [57]:
all_events_df["London_zone_Central"] = all_events_df.apply(lambda x: 1.0 if x['London_zone_London_all'] == 1.0 else x['London_zone_Central'], axis=1)
all_events_df["London_zone_North"] = all_events_df.apply(lambda x: 1.0 if x['London_zone_London_all'] == 1.0 else x['London_zone_North'], axis=1)
all_events_df["London_zone_West"] = all_events_df.apply(lambda x: 1.0 if x['London_zone_London_all'] == 1.0 else x['London_zone_West'], axis=1)
all_events_df["London_zone_South_West"] = all_events_df.apply(lambda x: 1.0 if x['London_zone_London_all'] == 1.0 else x['London_zone_South_West'], axis=1)
all_events_df["London_zone_South_East"] = all_events_df.apply(lambda x: 1.0 if x['London_zone_London_all'] == 1.0 else x['London_zone_South_East'], axis=1)
all_events_df["London_zone_East"] = all_events_df.apply(lambda x: 1.0 if x['London_zone_London_all'] == 1.0 else x['London_zone_East'], axis=1)

In [58]:
all_events_df["London_zone_London_all"].sum(), all_events_df["London_zone_Central"].sum()

(167.0, 659.0)

In [59]:
all_events_df["London_zone_London_all"].sum(), all_events_df["London_zone_North"].sum()

(167.0, 257.0)

In [60]:
all_events_df["London_zone_London_all"].sum(), all_events_df["London_zone_South_West"].sum()

(167.0, 339.0)

In [61]:
all_events_df.drop(columns="London_zone_London_all")

,start_date,end_date,Location,Latitude,Longitude,London_zone_Central,London_zone_North,London_zone_South_West,London_zone_West,London_zone_East,London_zone_South_East
title,,,,,,,,,,,
New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0
Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0
Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0
Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0
Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
FA cup final,2018-05-19,2018-05-19,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,1.0,0.0,0.0
FA cup final,2019-05-18,2019-05-18,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,1.0,0.0,0.0
FA cup final,2021-05-15,2021-05-15,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,1.0,0.0,0.0
FA cup final,2021-05-14,2021-05-14,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,1.0,0.0,0.0
FA cup final,2023-06-03,2023-06-03,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,1.0,0.0,0.0

In [62]:
all_events_df["date"] = all_events_df["start_date"]

In [63]:
all_events_df.head()

,start_date,end_date,Location,Latitude,Longitude,London_zone_Central,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West,London_zone_East,London_zone_South_East,date
title,,,,,,,,,,,,,
New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-01-01
Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-18
Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-21
Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-05
Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-26

In [64]:
all_events_df.drop(columns="start_date")

,end_date,Location,Latitude,Longitude,London_zone_Central,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West,London_zone_East,London_zone_South_East,date
title,,,,,,,,,,,,
New Year’s Day,2014-01-01,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-01-01
Good Friday,2014-04-18,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-18
Easter Monday,2014-04-21,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-21
Early May bank holiday,2014-05-05,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-05
Spring bank holiday,2014-05-26,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...
FA cup final,2018-05-19,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-05-19
FA cup final,2019-05-18,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2019-05-18
FA cup final,2021-05-15,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2021-05-15
FA cup final,2021-05-14,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2021-05-14
FA cup final,2023-06-03,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2023-06-03

In [65]:
all_events_df.drop(columns="end_date")

,start_date,Location,Latitude,Longitude,London_zone_Central,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West,London_zone_East,London_zone_South_East,date
title,,,,,,,,,,,,
New Year’s Day,2014-01-01,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-01-01
Good Friday,2014-04-18,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-18
Easter Monday,2014-04-21,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-21
Early May bank holiday,2014-05-05,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-05
Spring bank holiday,2014-05-26,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...
FA cup final,2018-05-19,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-05-19
FA cup final,2019-05-18,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2019-05-18
FA cup final,2021-05-15,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2021-05-15
FA cup final,2021-05-14,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2021-05-14
FA cup final,2023-06-03,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2023-06-03

In [66]:
all_events_df

,start_date,end_date,Location,Latitude,Longitude,London_zone_Central,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West,London_zone_East,London_zone_South_East,date
title,,,,,,,,,,,,,
New Year’s Day,2014-01-01,2014-01-01,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-01-01
Good Friday,2014-04-18,2014-04-18,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-18
Easter Monday,2014-04-21,2014-04-21,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-04-21
Early May bank holiday,2014-05-05,2014-05-05,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-05
Spring bank holiday,2014-05-26,2014-05-26,London-wide,London-wide,London-wide,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2014-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
FA cup final,2018-05-19,2018-05-19,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-05-19
FA cup final,2019-05-18,2019-05-18,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2019-05-18
FA cup final,2021-05-15,2021-05-15,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2021-05-15
FA cup final,2021-05-14,2021-05-14,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2021-05-14
FA cup final,2023-06-03,2023-06-03,Wembley Stadium,51.556165,-0.279596,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2023-06-03

In [67]:
all_events_df.to_csv('../../../raw_data/all_events_df.csv')