In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
import pandas as pd

In [24]:
from preproc import *

In [67]:
X = pd.read_csv("../../raw_data/final_features_df.csv", index_col = 0)
X.head(2)

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,date,sunrise,sunset,sunrise_datetime,...,event_title,event_start_date,event_end_date,event_location,event_latitude,event_longitude,elisabeth_line,lockdown,school_holidays,strike
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-01-02 00:00:00,12.5,0.1,0.0,100,6.9,189,2022-01-02,2022-01-02T09:06,2022-01-02T17:03,2022-01-02 09:06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 01:00:00,12.4,0.1,0.0,100,20.2,239,2022-01-02,2022-01-02T09:06,2022-01-02T17:03,2022-01-02 09:06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN

In [68]:
X.columns

Index(['temperature', 'rainfall', 'snowfall', 'cloudcover', 'wind_speed',
       'wind_direction', 'date', 'sunrise', 'sunset', 'sunrise_datetime',
       'sunset_datetime', 'year', 'month', 'day', 'hour', 'weekday', 'daytime',
       'event_title', 'event_start_date', 'event_end_date', 'event_location',
       'event_latitude', 'event_longitude', 'elisabeth_line', 'lockdown',
       'school_holidays', 'strike'],
      dtype='object')

In [69]:
fit_transform_features(X, "train")

bootoint                      elisabeth_line  lockdown school_holidays strike  \
timestamp
2022-01-02 00:00:00           False     False       christmas    NaN
2022-01-02 01:00:00           False     False       christmas    NaN
2022-01-02 02:00:00           False     False       christmas    NaN
2022-01-02 03:00:00           False     False       christmas    NaN
2022-01-02 04:00:00           False     False       christmas    NaN

                       daytime
timestamp
2022-01-02 00:00:00  nighttime
2022-01-02 01:00:00  nighttime
2022-01-02 02:00:00  nighttime
2022-01-02 03:00:00  nighttime
2022-01-02 04:00:00  nighttime
strikes                     elisabeth_line lockdown school_holidays strike    daytime
timestamp
2022-01-02 00:00:00              0        0       christmas    NaN  nighttime
2022-01-02 01:00:00              0        0       christmas    NaN  nighttime
2022-01-02 02:00:00              0        0       christmas    NaN  nighttime
2022-01-02 03:00:00              0        0       christmas    NaN  nighttime
2022-01-02 04:00:00              0        0       christmas    NaN  nighttime
daytime                     elisabeth_line lockdown  school_holidays  strike  \
timestamp
2022-01-02 00:00:00              0        0                1       0
2022-01-02 01:00:00              0        0                1       0
2022-01-02 02:00:00              0        0                1       0
2022-01-02 03:00:00              0        0                1       0
2022-01-02 04:00:00              0        0                1       0

                       daytime
timestamp
2022-01-02 00:00:00  nighttime
2022-01-02 01:00:00  nighttime
2022-01-02 02:00:00  nighttime
2022-01-02 03:00:00  nighttime
2022-01-02 04:00:00  nighttime

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 8760 and the array at index 1 has size 9192

In [70]:
X.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,date,sunrise,sunset,sunrise_datetime,...,event_title,event_start_date,event_end_date,event_location,event_latitude,event_longitude,elisabeth_line,lockdown,school_holidays,strike
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-01-02 00:00:00,12.5,0.1,0.0,100,6.9,189,2022-01-02,2022-01-02T09:06,2022-01-02T17:03,2022-01-02 09:06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 01:00:00,12.4,0.1,0.0,100,20.2,239,2022-01-02,2022-01-02T09:06,2022-01-02T17:03,2022-01-02 09:06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 02:00:00,12.4,0.0,0.0,100,19.0,241,2022-01-02,2022-01-02T09:06,2022-01-02T17:03,2022-01-02 09:06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 03:00:00,12.4,0.0,0.0,100,17.4,248,2022-01-02,2022-01-02T09:06,2022-01-02T17:03,2022-01-02 09:06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 04:00:00,12.4,0.0,0.0,100,17.4,248,2022-01-02,2022-01-02T09:06,2022-01-02T17:03,2022-01-02 09:06:00,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN

In [ ]:
X.columns